.BodyMore{
    margin-top: -1.2%;
}

.rowTitle{
    width: 80%;
    margin: auto;
    margin-top: 4%;
}

.title1{
    text-align: left;
    color: rgba(0, 0, 0, 0);
}

.title2{
    color: black;
    font-size: 30px;
    text-align: left;
}

.price{
    font-size: 20px;
}



.blockImage{
    width: 100%;
    margin: auto;
}

.image{
    width: 80%;
}

.blockImage2{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 2%;
}

.image2{
    width: 24.5%;
    margin:auto;
    margin-left: 0%;
    height: 150px;
}

.detail{
    width: 80%;
    margin: auto;
    font-size: 20px;
}

.detail p{
    font-weight: bold;
    text-align: left;
    margin-left: 0%;
}

/*@keyframes linkAnimation {
    From{
        opacity:1;
    }
    TO{
        opacity:0;
    }
    
}*/

.linkCommand{
    text-decoration: none;
    font-family: lobster;
    padding: 2%;
    border-radius: 3px;
    background-color: black;
    animation-name:linkAnimation;
    Animation-delay : 2s;
    Animation-duration : 5s;
    Animation-iteration-count : infinite;
    color: #FDD835;
    text-align: right;
    border: none;
    &:hover{
        background-color: rgba(14, 12, 12, 0.832);
        transition: 1s;
        animation:none;
    }
}