.footer{
    display: flex;
    margin-top: 5%;
}

.footer2{
    background-color: black;
}

#rowFooter{
    display: block;
    margin: auto;
    margin-left: 1%;
    margin-right: auto;
}

.contact{
    margin-left: 15%;
    margin-top: 10%;
}

.titleHours{
    margin-left: 5%;
    margin-top: 10%;
}

.blockIcon{
    margin-left: 15%;
    color: #fdd835cd;
}

.icon{
    margin-left: 2%;
}

.footer p{
    color: white;
}

.blockAbout2{
    margin-left: 15%;
}

.aboutFooter{
    margin-top: 10%;
}

/*h2{
    color: white;
    font-family: lobster;
}*/

.blockLocalization{
    text-align: left;
    color: white;
    margin-left: 15%;
}

#rowAbout{
    width: 33%;
    text-align: left;
    margin-left: 5%;
}


#rowContact{
    width: 33%;
    text-align: left;
    margin-left: 5%;
}

.textContact{
    margin-left: 5%;
}

#rowHours{
    width: 33%;
    text-align: left;
    margin-left: auto;
}

.infoHours{
    display: flex;
}
.hours{
    color: red;
}

.infoHours{
    margin-left: 5%;
}

.hours{
    margin-left: 25%;
}

.hours1{
    margin-left: 15%;
}

.copyrigth{
    color: white;
}